apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-api-deployment
  labels:
    app: node-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: node-api
  template:
    metadata:
      labels:
        app: node-api
    spec:
      containers:
        - name: node-api-container
          image: baloweezy/cloudcorex-node-api:v1
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
